.fancy-header{
    text-align: center;
    background-image: url("https://yt3.googleusercontent.com/ytc/AL5GRJWtl20seYfQ1fDn_QSCapWio7h2IojIaiMsBL4x=s900-c-k-c0x00ffffff-no-rj");
    background-size: .5%;
}
header{
    color: darkslategrey;
    text-decoration-line: underline;

}
body {
    background-color: lightgray;
    font-family: Rockwell;
}
ul {
    list-style: square;
}
.phatTable{
    padding: 20px;
    font-size: 20px;
    font-style: oblique;
}
a:link {
    color:red;
}
a:visited {
    color:black;
}
a:hover {
    color: #007069;
}
a:active {
    color: green;
}